<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>shapegraphics.playgroundpage</string>
		<string>animations.playgroundpage</string>
		<string>sprites.playgroundpage</string>
		<string>drawing.playgroundpage</string>
		<string>A7DA4523-5969-4435-BF82-1ED19A4DF1E3.playgroundpage</string>
	</array>
</dict>
</plist>
